<form action="/form" method="post">  
  First Name           : <input type="text" name="first"> <br> 
  Last Name            : <input type="text" name="last"> <br>
  Copay Amount         : <input type="text" name="copay"> <br>
  Copay Effective Date :<input type="text" name="effective"> <br>
  <input type="submit">  
</form>
